.jumbotron {
          text-align: center;
          padding: 0rem 0rem;
          margin-bottom: 0rem;
          background-color: none;
          border-radius: 0rem;
        }

#Header {
          font-family: 'Roboto Slab', serif;
          font-size: 2.5em;
          color: #fff;
          background-image: url("../images/backgrounds/landing.jpg");
          background-image: no-repeat;
          background-size: 100%, 100%;
          text-align: center;
        }
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#row1 {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

#columns {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-left: 0px;
  border-right: 0px;
}
.bckgrd-section{
  background-image: url("../images/backgrounds/landing.jpg");
  background-size: 100%, 100%;
  text-align: center;
}
.alignCenter {
          text-align: center;
          align-items: center;
        }

.floatLeft {
  float: left;
}

.floatR {
  float: right;
}

.textWhite {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Roboto Slab', serif;
}

.classboxmodel {
  padding-left:
}

.divWidth {
    width: 25%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
}

.divClassCenter {
    margin: auto;
 }

#foodsbg {
  background-image: url("../images/backgrounds/foodsBg.jpg");
  height: 599px;
}
.rowtopbottommargin {
   margin-top: 50px;
   margin-bottom: 50px;
   height: 450px;
 }

#subscribe {
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 301px;
}
#lastrow {
  height: 350px;
  background-color: #FF5733;
}

#breakfast
{
  background-image: url("../images/foodtop/breakfast.jpg");
  background-image: no-repeat;
}
#lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  background-image: no-repeat;
}
#dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  background-image: no-repeat;
}
.row1over:hover {
    opacity: 0.5;
}

#row1row2{
  background-color: #FF5733;
  color: #fff;
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 30px;
}

#row1row1{
  background-color: #fff;
  color: #000000;
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 30px;
}
